<% if current_user.liked_by?(post.id) %>
  <td><%= link_to 'いいねを外す', post_like_path(post.id), method: :DELETE, remote: true %><%= post.likes.count %></td>
<% else %>
  <td><%= link_to 'いいね', post_likes_path(post.id), method: :POST, remote: true %><%= post.likes.count %></td>
<% end %>