<div class="flex">
  <div class="contents row">
    <%= render @posts%>
  </div>

  <div class="twitter">
    <a class="twitter-timeline" href="https://twitter.com/uptod4te?ref_src=twsrc%5Etfw" width="300px" height="1000px" data-tweet-limit="5">Tweets by uptod4te</a> 
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>